html,
body {
	height: 100%;
	font-family: "Ubuntu";
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	color: $black;
	overflow-x: hidden;
	@media (max-width: 575.98px) {
		font-size: 16px;
	}
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}
//Ввод данных конец
.burger {
}

.off {
	display: none !important;
}

.checkbox {
	position: relative;
}
.checkbox-none,
.radio-none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox-style {
	display: block;
	cursor: pointer;
}
.checkbox-none:checked + .checkbox-style {
}
.radio-style {
	position: relative;
	display: block;
	cursor: pointer;
}
.radio-none:checked + .radio-style::before {
	content: " ";
}

// popup
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100vh;
	&__body {
		// background: $text1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.popup-close {
	}
}
// popup end

.burger {
	position: fixed;
	top: 0;
	left: 100%;
	z-index: 9999;
	width: 100vw;
	min-height: 100vh;
	transition-delay: 0.3s;
	&.open {
		transition-delay: 0s;
		left: 0;
		.burger__bg {
			opacity: 1;
		}
		.burger__content {
			right: 0;
		}
	}

	&__bg {
		transition: 0.3s ease-out;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(33, 33, 33, 0.3);
		opacity: 0;
	}

	&__content {
		transition: 0.3s ease-out;
		background: $blue;
		border-radius: 0px 0px 0px 80px;
		position: absolute;
		top: 0;
		right: -100%;

		width: 45%;
		height: 100%;
		min-height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-left: 180px;
		padding-top: 40px;
		padding-bottom: 55px;
		padding-right: 100px;
		overflow-y: auto;
		@media (max-width: 1399.98px) {
			width: unset;
		}
		@media (max-width: 767.98px) {
			padding: 40px 15px 30px;
			border-radius: 0px 0px 0px 60px;
		}
	}

	&__top-line {
		display: flex;
		align-items: center;
		@media (max-width: 767.98px) {
			justify-content: space-between;
		}
	}
	.header__connection {
		display: flex !important;
		margin-right: 60px;
		@media (max-width: 767.98px) {
			margin-right: unset;
		}
	}
	&__lang {
		margin-right: 30px;
		@media (max-width: 767.98px) {
			margin-right: unset;
		}
	}
	&__close {
		font-size: 20px;
		color: $white;
	}

	&__list {
		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__list-item {
		cursor: pointer;
		color: $white;
		line-height: 343.9%;
		position: relative;
		transition: 0.2s;
		&::before {
			transition: 0.2s;
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 53%;
			left: 0;
			width: 17px;
			height: 17px;
			border: 4px solid $white;
			border-radius: 50%;
			opacity: 0;
		}
		&:hover {
			padding-left: 30px;
			&::before {
				opacity: 1;
			}
		}
	}

	&__link {
	}

	&__socials {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 767.98px) {
			margin: 0 30px;
			padding-top: 20px;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
		}
	}

	&__socials-item {
		width: 40px;
		height: 40px;
		background: $white;
		border: 2px solid rgba(45, 100, 244, 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		color: $blue;
	}
}

.daterangepicker.show-calendar .drp-calendar.right {
	display: none;
}
.daterangepicker.openscenter:after {
	display: none;
}
.daterangepicker.openscenter:before {
	display: none;
}
.available.off {
	display: table-cell !important;
}
.daterangepicker .drp-calendar {
	width: 238px;
	max-width: 290px;
}
.daterangepicker .drp-calendar.left th.month {
	font-size: 16px;
	font-family: "Ubuntu";
	font-weight: 400;
	color: #000;
}
.daterangepicker .calendar-table td {
	font-size: 14px;
	line-height: 28px;
	font-weight: 500;
	letter-spacing: 0.04em;
	font-family: "Ubuntu";
	color: #5a5a5a;
	width: unset;
	height: unset;
}
.daterangepicker .drp-calendar.left {
	padding: 20px 82px;
	padding: 0;
}
@media (min-width: 564px) {
	.daterangepicker .drp-calendar.left .calendar-table {
		padding-right: unset;
	}
	.daterangepicker {
		width: 100%;
	}
}
.daterangepicker {
	width: 100%;
	position: absolute;
	color: inherit;
	background-color: #fff;
	margin-top: 11px;
	margin-left: -9px;
	height: 280px;
	border-radius: 30px;
	border: unset;
	overflow: hidden;
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.48)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.12));
}
.daterangepicker .drp-calendar.left .calendar-table {
	font-family: "Ubuntu";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.daterangepicker .calendar-table td:hover {
	border-radius: 50%;
}
.daterangepicker td.start-date.end-date {
	background: #c8acc9;
	border: 2px solid #406def;
	border-radius: 50%;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
	color: $blue;
	// background: #ffea21;
}
.daterangepicker td.weekend.available {
	color: $black;
}
.daterangepicker td.in-range {
	background: $white;
}
.daterangepicker td.in-range.active {
	background: rgba(199, 172, 200, 0.5);
	color: $blue;
}
.daterangepicker td.ends {
	visibility: hidden;
	color: #e2e2e2;
}
.daterangepicker td.ends.weekend {
	visibility: hidden;
	color: #ffc39a;
}
.table-condensed thead tr:first-child {
	position: relative;
}
.daterangepicker .calendar-table .next,
.daterangepicker .calendar-table .prev {
	position: absolute;
	z-index: 30004;
	transform: translateY(-50%);
	top: 50%;
}
.daterangepicker .calendar-table .next {
	right: 35px;
}
.daterangepicker .calendar-table .prev {
	left: 35px;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
	border-color: $blue;
}
.daterangepicker .calendar-table table {
	width: 238px;
	border-collapse: separate;
	border-spacing: 0 5px;
	height: 150px;
}
.off {
	display: table-cell !important;
}
input {
	box-sizing: border-box;
}
.daterangepicker.show-calendar .drp-calendar {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: unset;
}
.daterangepicker .calendar-table th {
	color: #000;
	font-size: 10px;
}
.daterange-input {
	color: #fff;
	width: 100%;
}
.daterange-input::placeholder {
	color: #fff;
}
.daterange-input:focus .icon-triangle-right {
	transform: rotate(270deg);
}

@media (max-width: 575.98px) {
	.daterangepicker {
		// margin-top: 7px;
	}
	.daterangepicker .drp-calendar.left .calendar-table {
		// padding-top: 5px;
	}
	.daterangepicker .drp-calendar.left .calendar-table table {
		// width: 225px;
	}
	.daterangepicker .drp-calendar.left th.month,
	.daterangepicker .calendar-table td {
		// font-size: 12px;
		// line-height: 18px;
		min-width: unset;
	}
	.form-policy__input:not(:last-child) {
		margin-bottom: 18px;
	}
	.daterangepicker .calendar-table .prev {
		// left: 50px;
	}
	.daterangepicker .calendar-table .next {
		// right: 50px;
	}
}
