.policy {
   display: flex;
   background: #f5f5f5;
   min-height: 100vh;
   &__aside {
      position: relative;
      width: 15%;
      @media (max-width: 1199.98px) {
         display: none;
      }
   }

   &__aside-bg-circle {
      width: 345px;
      height: 345px;
      border-radius: 50%;
      border: 9px solid rgba(45, 100, 244, 0.2);
      position: absolute;
      top: -161px;
      left: -118px;
   }

   &__aside-bg-small-circles {
      position: absolute;
      right: 45%;
      bottom: 30px;
   }

   &__aside-title {
   }

   &__body {
      position: relative;
      overflow: hidden;
      z-index: 20;
      width: 85%;
      padding-top: 12px;
      padding-bottom: 60px;
      padding-left: 8%;
      padding-right: calc((100vw - 1140px) / 2);
      border-radius: 0px 0px 0px 80px;
      display: flex;
      flex-direction: column;
      @media (max-width: 1199.98px) {
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
      }
      @media (max-width: 767.98px) {
         padding-top: 30px;
      }
   }

   &__main {
      position: relative;
      z-index: 30;
   }
}
.aside-title {
   z-index: 10;
   color: #e7e7e7;
   position: absolute;
   transform: translateY(-50%) rotate(-180deg);
   writing-mode: vertical-rl;
   top: 50%;
   right: 36px;
   font-weight: bold;
   font-size: 100px;
}
.logo {
   width: 142px;
   height: 78px;
   @extend %imgContain;
}
.rating {
   display: flex;
   align-items: center;
   padding: 5px 20px;
   background: $white;
   border-radius: 30px;
   column-gap: 10px;
   @media (max-width: 575.98px) {
      padding: 5px 10px 5px 15px;
   }
   &__logo {
   }

   &__text-block {
   }

   &__title {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
   }

   &__row {
      display: flex;
      align-items: center;
   }

   &__amount {
      color: #e7711a;
      margin-right: 7px;
      font-size: 14px;
   }

   &__stars {
      display: flex;
      align-items: center;
      column-gap: 4px;
   }

   &__star {
   }
}
.lang {
   position: relative;
   &.open {
      .lang__body {
         display: block;
      }
      .lang__triangle {
         transform: rotate(90deg);
      }
   }
   &__head {
      cursor: pointer;
      display: flex;
      align-items: center;
   }

   &__flag {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px;
   }

   &__name {
      color: $white;
   }

   &__triangle {
      margin-left: 5px;
      font-size: 10px;
      color: $white;
      transform: rotate(-90deg);
   }

   &__body {
      display: none;
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      width: 100%;
      padding-top: 8px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
   }

   &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
         margin-bottom: 3px;
      }
   }
}
.icon-burger {
   margin-left: 40px;
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: $blue;
   position: relative;
   flex: none;
   &::before,
   &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: $white;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
   }
   &::before {
      top: 22px;
   }
   &::after {
      top: 30px;
   }
}

.header {
   display: flex;
   align-items: center;
   margin-bottom: 65px;
   flex: none;
   position: relative;
   z-index: 30;
   @media (max-width: 767.98px) {
      margin-bottom: 30px;
   }
   &__logo {
      flex: none;
      margin-left: -13px;
      @media (max-width: 575.98px) {
         width: 103px;
         height: 76px;
         margin-left: -9px;
      }
   }

   &__rating {
      margin-left: 11%;
      @media (max-width: 991.98px) {
         margin-left: 20px;
      }
      @media (max-width: 575.98px) {
         margin-left: 9px;
      }
   }

   &__lang {
      margin-right: 30px;
      @media (max-width: 767.98px) {
         display: none;
      }
   }
   &__rightside {
      display: flex;
      align-items: center;
      margin-left: auto;
   }
   &__connection {
      display: flex;
      align-items: center;
      color: $white;
      column-gap: 10px;
      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__connection-icon {
      background: $white;
      border-radius: 0px 0px 0px 20px;
      width: 43px;
      height: 36px;
      font-size: 14px;
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.25s;
      &:hover {
         box-shadow: 0px 4px 16px rgba(45, 100, 244, 0.8);
      }
   }

   &__connection-text-block {
   }

   &__connection-title {
      font-size: 12px;
      margin-bottom: 3px;
      font-weight: 300;
   }

   &__connection-num {
      font-weight: bold;
   }

   &__icon-burger {
      @media (max-width: 575.98px) {
         margin-left: 5px !important;
      }
   }
}

.policy {
   &__main {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      @media (max-width: 991.98px) {
         flex-direction: column-reverse;
         align-items: flex-start;
         justify-content: center;
      }
   }

   &__text {
      align-self: center;
      max-width: 520px;
      color: $white;
      @media (max-width: 991.98px) {
         align-self: start;
         margin-bottom: 30px;
         margin-left: 30px;
      }
      @media (max-width: 575.98px) {
         max-width: 290px;
      }
   }

   &__title {
      font-weight: 300;
      margin-bottom: 23px;
      position: relative;
      span {
         font-weight: 700;
         font-size: 44px;
         @media (max-width: 575.98px) {
            font-size: 25px;
         }
      }
      @media (max-width: 575.98px) {
         margin-bottom: 15px;
      }
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 100%;
         border: 4px solid $white;
         width: 17px;
         height: 17px;
         border-radius: 50%;
         @media (max-width: 575.98px) {
            width: 17px;
            height: 17px;
         }
      }
   }

   &__descr {
      max-width: 406px;
      font-weight: 300;
      margin-bottom: 15px;
      @media (max-width: 575.98px) {
         margin-bottom: 30px;
      }
   }

   &__btn-details--desctop {
      @media (max-width: 575.98px) {
         display: none;
      }
   }
   &__btn-arrange--mobile {
      @media (min-width: 576px) {
         display: none;
      }
   }

   &__form {
      max-width: 475px;
      margin-right: 50px;
      @media (max-width: 991.98px) {
         align-self: center;
         margin-right: unset;
      }
      @media (max-width: 575.98px) {
         // display: none;
      }
   }
}
.form-policy {
   height: max-content;
   background: $white;
   background: #ffffff;
   box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
   border-radius: 30px 0px 0px 0px;
   padding: 30px;
   overflow: hidden;
   @media (max-width: 575.98px) {
      padding: 15px 15px 20px;
   }
   &__step-one {
      // display: none;
      .form-policy__btns-block {
         @media (max-width: 575.98px) {
            flex-direction: column;
            align-items: stretch;
            row-gap: 20px;
         }
      }
   }
   &__step-two {
      display: none;
      @media (max-width: 575.98px) {
         .input__flex-box {
            flex-direction: column;
            row-gap: 10px;
         }
         .form-policy__flex-double {
            flex-direction: column;
            column-gap: unset;
            align-items: stretch;
            row-gap: 18px;
         }
      }
   }
   &__step-three {
      display: none;
   }

   &__header {
      text-align: center;
      padding-bottom: 22px;
      border-bottom: 2px solid rgba(45, 100, 244, 0.2);
      margin-bottom: 18px;
   }

   &__title {
      font-weight: 500;
   }

   &__body {
   }

   &__input-container {
      margin-bottom: 18px;
   }

   &__input {
   }

   &__flex-double {
      display: flex;
      column-gap: 20px;
      align-items: flex-end;
      margin-bottom: 17px;
      & > * {
         flex: 1 1 50%;
         margin-bottom: unset !important;
      }
   }

   &__promocode {
      margin-bottom: 20px;
      &.open .form-policy__promocode-input {
         visibility: visible;
      }
   }

   &__promocode-title {
      color: $blue;
      text-decoration-line: underline;
      font-weight: bold;
      margin-bottom: 13px;
   }

   &__promocode-input .input {
      padding-right: 140px;
   }
   &__promocode-input {
      visibility: hidden;
   }

   &__promocode-btn {
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 5px;
      background: $blue;
      border-radius: 30px;
      padding: 5px 16px;
      color: $white;
      font-weight: bold;
   }

   &__footer {
   }

   &__price {
      background: rgba(45, 100, 244, 0.2);
      padding: 13px;
      font-weight: 500;
      color: $blue;
      text-align: center;
      margin: 0 -30px 30px;
      @media (max-width: 575.98px) {
         margin-bottom: 30px;
      }
   }

   &__btns-block {
      display: flex;
      align-items: center;
      column-gap: 58px;
      .btn {
         min-width: unset;
      }
      & > * {
         flex: 1 1 50%;
      }
   }

   &__check-block {
   }

   &__btn-next {
   }
   &__tourist-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      margin: -18px -30px 0;
      background: rgba(45, 100, 244, 0.2);
   }
   &__toutist-num {
      font-weight: bold;
   }
   &__btn-check {
      font-weight: bold;
      color: $blue;
      text-decoration-line: underline;
   }

   &__btn-to-step-two {
   }
   &__btn-add-tourist {
      display: flex;
      align-items: center;
      color: $blue;
      font-weight: bold;
      margin-bottom: 31px;
      &--text {
         text-decoration-line: underline;
      }
      .icon {
         margin-right: 8px;
         font-size: 15px;
      }
   }

   &__to-check-item {
      flex: 1 1 50%;
   }
   &__to-check-item-solo {
      margin-bottom: 28px;
   }

   &__to-check-title {
      color: $gray;
      font-weight: 300;
      margin-bottom: 13px;
   }

   &__to-check-descr {
      font-weight: 500;
   }

   &__to-check-row {
      display: flex;
      column-gap: 5px;
      &:not(:last-child) {
         margin-bottom: 28px;
         @media (max-width: 575.98px) {
            margin-bottom: 20px;
         }
      }
   }

   &__to-check-row-swap {
      @media (max-width: 575.98px) {
         flex-direction: column;
         row-gap: 20px;
      }
   }
   &__block-to-check {
      margin-bottom: 45px;
   }
}

.input {
   display: flex;
   justify-content: space-between;
   padding: 15px 20px;
   border: 1px solid $gray;
   border-radius: 30px;
   font-size: 16px;
   font-weight: 500;
   width: 100%;
   &::placeholder {
      font-weight: 300;
   }
   &__block {
      &:not(:last-child) {
         margin-bottom: 17px;
      }
   }

   &__title {
      font-weight: 300;
      color: $gray;
      margin-bottom: 13px;
   }

   &__box {
      position: relative;
      .icon {
         color: $blue;
      }
      .icon-calendar {
         font-size: 15px;
         position: absolute;
         transform: translateY(-50%);
         top: 50%;
         right: 20px;
      }
   }
   &__flex-box {
      display: flex;
      column-gap: 20px;
      & > * {
         flex: 1 1 50%;
      }
   }
   &__flexbox-from-to {
      display: flex;
      column-gap: 20px;
      & > *:not(:first-child)::before {
         content: "-";
         position: absolute;
         transform: translate(50%, -50%);
         top: 50%;
         right: calc(100% + 10px);
      }
   }
}
.select {
   position: relative;
   &.open {
      box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
      border-radius: 30px;
      .select__head {
         border-radius: 30px 30px 0 0;
         border-bottom: unset;
         position: relative;
         &::before {
            content: "";
            width: calc(100% - 40px);
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 100%;
            height: 1px;
            background: $gray;
            z-index: 40;
         }
      }
      .select__body {
         display: block;
         // box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
      }
      .select__icon {
         transform: rotate(90deg);
      }
   }
   &__head {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border: 1px solid $gray;
      border-radius: 30px;
   }

   &__text {
      font-size: 16px;
      font-weight: 500;
   }

   &__text-placeholder {
      font-weight: 300;
   }

   &__icon {
      font-size: 12px;
      transform: rotate(-90deg);
   }

   &__body {
      display: none;
      border: 1px solid $gray;
      z-index: 30;
      border-top: unset;
      border-radius: 0 0 30px 30px;
      padding: 15px 20px;
      position: relative;
      z-index: 30;
   }

   &__item {
      font-size: 16px;
      font-weight: 300;
      display: block;
      cursor: pointer;
      background: $white;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}
.checkbox {
   position: relative;
   margin-right: 14px;

   &__block {
      display: flex;
      align-items: center;
   }
   &__none {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
   }
   &__style {
      display: block;
      border-radius: 4px;
      width: 25px;
      height: 25px;
      background: rgba(45, 100, 244, 0.2);
   }

   &__text {
      font-weight: 300;
   }
   &__link {
      text-decoration-line: underline;
   }
   &__block--small {
      .checkbox__style {
         width: 14px;
         height: 14px;
         border-radius: 3px;
      }
      .checkbox {
         margin-right: 9px;
      }
      .checkbox__none:checked + .checkbox__style {
         background: #2d64f4 url("../images/svg-icons/check.svg") 2px 3px/11px 9px no-repeat;
      }
   }
}
.checkbox__none:checked + .checkbox__style {
   background: #2d64f4 url("../images/svg-icons/check.svg") 4px 5px/19px 17px no-repeat;
}

.banner-slider {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: 100%;
   &__gradient {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: linear-gradient(50.5deg, rgba(45, 100, 244, 0.4) 31.07%, rgba(143, 174, 255, 0) 64.53%),
         linear-gradient(153.04deg, rgba(0, 0, 0, 0.5) 55.03%, rgba(0, 0, 0, 0) 83.14%);
   }
   &__wrapper {
      min-width: 0;
      height: 100%;
   }
   &__slide {
      width: 100%;
      height: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .swiper-pagination {
      position: absolute;
      bottom: 30px;
      right: 0;
      width: 50%;
      z-index: 100;
      display: flex;
   }
}

.title {
   font-weight: 300;
   text-align: center;
   span {
      font-weight: 500;
   }
}
.hashtag {
   .title {
      margin-bottom: 40px;
   }
   margin: 110px 0 50px;
   @media (max-width: 767.98px) {
      margin-bottom: unset;
      margin-top: 35px;
   }
   &__body {
      padding-left: 55px;
      @media (max-width: 767.98px) {
         padding-left: unset;
      }
   }
   &__body-open {
      .hashtag__list {
         height: auto;
      }
      .hashtag__button {
         transform: translateY(0);
         background: #fff;
         padding: 25px 0 0;
      }
   }
   &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -10px -10px;
      height: 425px;
      overflow: hidden;
      transition: 0.2s;
   }
   &__item {
      margin: 10px;
      text-align: center;
      display: block;
      min-width: 148px;
      padding: 11px 14px;
      border-radius: 90px;
      background: rgba(200, 173, 200, 0.2);
      transition: 0.2s;
      &:hover {
         background: $pink;
         box-shadow: 0px 4px 32px $pink;
      }
   }
   &__button {
      // background-color: rgba(#fff, 0.8);
      background: linear-gradient(348.48deg, #ffffff 42.01%, rgba(255, 255, 255, 0) 242.91%);
      transform: translateY(-50px);
      z-index: 1;
      position: relative;
      margin: 0 -10px;
      padding: 20px 10px 10px;
      @media (max-width: 767.98px) {
         padding: 90px 10px 14px;
      }
   }
   &__btn {
      text-decoration: underline;
      color: #2d64f4;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      cursor: pointer;
      width: max-content;
      margin: 0 auto;
   }
}

.faq {
   background: #f5f5f5;
   position: relative;
   padding: 50px 0 130px;
   @media (max-width: 767.98px) {
      padding: 35px 0 80px;
   }
   .title {
      margin-bottom: 40px;
   }
   &__question {
      @media (max-width: 767.98px) {
         display: flex;
         align-items: center;
         border: 2px solid transparent;
         background: $white;
         padding: 20px;
         column-gap: 20px;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
   }
   &__body-question {
      display: flex;
      margin: 0 -15px;
      text-align: center;
   }
   &__body-question--firstline {
      .faq__item:first-child {
         border-radius: 30px 0px 0px 0px;
      }
      .faq__item:last-child {
         border-radius: 0px 30px 0px 0px;
      }
   }
   &__body-question--secondline {
      .faq__item:first-child {
         border-radius: 0px 0px 0px 30px;
      }
      .faq__item:last-child {
         border-radius: 0px 0px 30px 0px;
      }
   }
   &__question-title {
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         font-weight: 700;
      }
   }
   &__question-icon {
      transform: rotate(-90deg);
      color: $pink;
      @media (min-width: 768px) {
         display: none;
      }
   }
   &__item {
      width: 100%;
      margin: 0 15px;
      padding: 25px 5px 20px;
      transition: 0.5s;
      cursor: pointer;
      min-height: 140px;
      // &:hover{
      //    border: 2px solid $pink;
      // }
      &.open {
         svg {
            fill: $pink;
         }
         .faq__question-icon {
            transform: rotate(90deg);
         }
         .faq__question {
            @media (max-width: 767.98px) {
               box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
               border-radius: 30px 30px 0px 0px;
            }
         }
      }
      @media (min-width: 768px) {
         background: $white;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
         border: 2px solid transparent;
         &:hover {
            box-shadow: 0px 4px 32px #c8adc8;
         }
         &.open {
            border: 2px solid $pink;
            box-shadow: 0px 4px 32px #c8adc8;
         }
      }
      @media (max-width: 767.98px) {
         margin: 0;
         padding: 0;
         margin-bottom: 20px;
         min-height: unset;
         &:first-child {
            border-radius: 30px 30px 0 0;
            .faq__answer {
               display: block;
            }
         }
         &.open {
            .faq__question {
               border: 2px solid $pink;
               background: $white;
               box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            }
         }
      }
   }

   &__question-img {
      width: max-content;
      margin: 0 auto;
      margin-bottom: 14px;
      @media (max-width: 767.98px) {
         margin: unset;
      }
   }

   &__body-content {
      margin: 40px 110px;
      border-top: 2px solid #ece7ec;
      border-bottom: 2px solid #ece7ec;
      padding: 25px 0 20px;
      height: 185px;
      @media (max-width: 991px) {
         height: calc(250px + (185 - 250) * ((100vw - 760px) / (991 - 768)));
      }
      @media (max-width: 767.98px) {
         height: auto;
      }
   }
   &__answer {
      display: none;
      &:first-child {
         display: block;
      }
      @media (max-width: 767.98px) {
         margin-top: 20px;
      }
   }
   &__question-img {
      svg {
         fill: #999;
      }
   }
   &__answer-title {
      text-align: center;
      margin-bottom: 25px;
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
      span {
         font-weight: 700;
      }
      @media (max-width: 767.98px) {
         display: none;
      }
   }
   &__answer-text {
      max-width: 620px;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      @media (max-width: 767.98px) {
         text-align: left;
      }
   }
   &__circle-top-left {
      position: absolute;
      top: 81px;
      right: 1725px;
      z-index: 1;
   }
   &__circle-bottom-right {
      position: absolute;
      left: 1725px;
      bottom: 75px;
      z-index: 1;
   }
}

.review {
   margin-bottom: 100px;
   padding-top: 115px;
   position: relative;
   overflow: hidden;
   border-radius: 80px 80px 0 0;
   @media (max-width: 575.98px) {
      padding-top: 35px;
      border-radius: 60px 60px 0 0;
   }
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: -5;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__content {
      position: relative;
      z-index: 20;
   }

   .title {
      position: relative;
      z-index: 20;
      color: $white;
      margin-bottom: 40px;
      @media (max-width: 575.98px) {
         margin-bottom: 20px;
      }
   }
   &__slider {
      width: 100%;
      overflow-x: hidden;
      padding-bottom: 170px;
      @media (max-width: 767.98px) {
         padding-bottom: 70px;
      }
   }
   .swiper-slide {
      position: relative;
   }
   &__slider-btn {
      position: absolute;
      top: calc(50% - 170px / 2);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $white;
      box-sizing: border-box;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
         background: $blue;
      }
      .icon {
         color: $white;
      }
   }
   &__slider-btn__next {
      right: -45px;
      transform: translate(100%, -50%);
   }
   &__slider-btn__prev {
      left: -45px;
      transform: translate(-100%, -50%);
      .icon {
         transform: rotateY(180deg);
      }
   }
   &__pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 120px;
      @media (max-width: 767.98px) {
         bottom: 40px;
      }
   }
   .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid $white;
      &:not(:last-child) {
         margin-right: 5px;
      }
      &-active {
         background: $white;
      }
   }
   &__card {
      // height: 100%;
      background: $white;
      border-radius: 30px;
      overflow: hidden;
      padding: 30px;
      position: relative;
      transition: 0.2s;
      &:hover {
         position: absolute;
         left: 0;
         right: 0;
         z-index: 1;
         box-shadow: 0px 4px 32px #c8adc8;
         .review__card-text {
            overflow: unset;
            -webkit-box-orient: unset;
         }
      }
   }
   &__circle {
      position: absolute;
      top: 0;
      left: 0;
   }
   &__card-header {
      display: flex;
      margin-bottom: 20px;
   }
   &__card-photo {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid rgba(45, 100, 244, 0.2);
      box-sizing: border-box;
      margin-right: 15px;
      img {
         min-width: 100%;
         min-height: 100%;
         object-fit: cover;
      }
   }
   &__card-descr {
      padding-top: 5px;
   }
   &__card-name {
      margin-bottom: 2px;
      font-weight: 700;
      color: $black;
      font-size: 18px;
      line-height: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
   }
   &__card-date {
      color: #999999;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 24px;
   }
   &__card-text {
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
   }
   &__card-star {
      display: flex;
      align-items: center;
   }
}

.arrange {
   display: flex;
   overflow: hidden;
   background: #f5f5f5;
   color: $white;
   &__aside {
      position: relative;
      width: calc((100vw - 1140px) / 2);
      @media (max-width: 1199.98px) {
         display: none;
      }
   }

   &__aside-bg-circle {
      width: 345px;
      height: 345px;
      border-radius: 50%;
      border: 9px solid rgba(45, 100, 244, 0.2);
      position: absolute;
      left: 175px;
      bottom: -108px;
   }
   &__aside-bg-small-circles {
      position: absolute;
      top: 74px;
      left: 220px;
      width: 84px;
      height: 140px;
   }

   &__main {
      flex: 1 1 auto;
      padding-top: 120px;
      padding-bottom: 120px;
      position: relative;
      overflow: hidden;
      z-index: 60;
      // width: 79%;
      padding-left: calc((100vw - 1140px) / 2);
      border-radius: 0px 0px 80px 0px;
      display: flex;
      flex-direction: column;
      @media (max-width: 1199.98px) {
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
      }
      @media (max-width: 767.98px) {
         padding-top: 45px;
         padding-bottom: 40px;
         margin-right: -23px;
         padding-right: 38px;
      }
   }

   &__content {
      position: relative;
      z-index: 20;
   }

   &__title {
      text-align: left;
      margin-left: 22px;
      position: relative;
      max-width: 550px;
      margin-bottom: 40px;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 100%;
         border: 4px solid $white;
         width: 17px;
         height: 17px;
         border-radius: 50%;
         @media (max-width: 575.98px) {
            width: 14px;
            height: 14px;
         }
      }
   }

   &__body {
   }

   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 3;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      pointer-events: none;
      background: linear-gradient(50.5deg, rgba(45, 100, 244, 0.5) 31.07%, rgba(143, 174, 255, 0) 64.53%),
         linear-gradient(153.04deg, rgba(0, 0, 0, 0.6) 55.03%, rgba(0, 0, 0, 0) 83.14%);
   }

   &__aside-title {
   }
}
.aside-title-reverse {
   z-index: 10;
   color: #e7e7e7;
   position: absolute;
   transform: translateY(-50%) rotate(0);
   writing-mode: vertical-rl;
   top: 50%;
   left: 36px;
   font-weight: bold;
   font-size: 100px;
}
.arrange-slider {
   display: flex;
   @media (max-width: 991.98px) {
      margin-left: -150px;
   }
   @media (max-width: 767.98px) {
      margin-left: unset;
   }
   &__circle {
      flex: none;
      width: 579px;
      height: 579px;
      background: url("../images/arrange-slider-circle.svg") no-repeat;
      display: flex;
      align-items: center;
      margin-left: -109px;
      padding-left: 109px;
      margin-top: 90px;
      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__image-block {
      width: 434px;
      height: 434px;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }

   &__img {
      width: 357px;
      height: 357px;
      border-radius: 50%;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__item {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0px 30px 0px 0px;
      max-width: 400px;
      height: 103px;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      position: relative;
      &:not(:last-child) {
         margin-bottom: 60px;
      }

      &:nth-child(1) {
         margin-left: -45px;
         .arrange-slider__item-count {
            bottom: -60px;
            left: -94px;
            &::after {
               width: 116px;
               transform: translateY(-50%) rotate(-48deg);
               transform-origin: left;
            }
         }
      }
      &:nth-child(2) {
         margin-left: 70px;
         .arrange-slider__item-count {
            bottom: -12px;
            left: -114px;
            &::after {
               width: 109px;
               transform: translateY(-50%) rotate(-24deg);
               transform-origin: left;
            }
         }
      }
      &:nth-child(3) {
         margin-left: 110px;
         .arrange-slider__item-count {
            top: 50%;
            left: -125px;
            transform: translateY(-50%);
            &::after {
               width: 109px;
               transform: translateY(-50%);
               transform-origin: left;
            }
         }
      }
      &:nth-child(4) {
         margin-left: 70px;
         .arrange-slider__item-count {
            top: -12px;
            left: -110px;
            &::after {
               width: 104px;
               transform: translateY(-50%) rotate(24deg);
               transform-origin: left;
            }
         }
      }
      &:nth-child(5) {
         margin-left: -45px;
         .arrange-slider__item-count {
            top: -53px;
            left: -94px;
            &::after {
               width: 116px;
               transform: translateY(-50%) rotate(48deg);
               transform-origin: left;
            }
         }
      }
      @media (min-width: 768px) {
         &.active {
            .arrange-slider__item-img {
               background: $pink;
               svg g path {
                  fill: $white;
               }
            }
            .arrange-slider__item-count::before {
               background: $pink;
            }
         }
      }
      @media (max-width: 767.98px) {
         margin-left: unset !important;
         max-width: none;
         &:not(:last-child) {
            margin-bottom: 30px;
         }
         .arrange-slider__item-img {
            background: $pink;
            svg path {
               fill: $white;
            }
         }
         .arrange-slider__item-count::before {
            background: $pink;
         }
      }
   }
   &__item-count {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      &::before {
         content: "";
         position: absolute;
         top: 4px;
         right: 4px;
         bottom: 4px;
         left: 4px;
         background: $white;
         border-radius: 50%;
         z-index: 20;
      }
      &::after {
         z-index: 10;
         content: "";
         height: 1px;
         background: $white;
         position: absolute;

         top: 50%;
         left: 50%;
      }
      @media (max-width: 767.98px) {
         display: none;
      }
   }
   &__item-img {
      flex: none;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $pink;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__item-text {
      font-weight: 700;
      @media (max-width: 575.98px) {
         font-size: 18px;
      }
   }

   &__item-num {
      width: 35px;
      height: 35px;
      font-size: 20px;
      font-weight: 700;
      color: $pink;
      border: 2px solid $pink;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      top: -19px;
      z-index: 10;
   }
}

.program {
   padding: 110px 0 120px;
   @media (max-width: 575.98px) {
      padding: 35px 0 40px;
   }
   &__title {
      margin-bottom: 12px;
      text-align: center;
      font-weight: 300;
      span {
         font-weight: 700;
      }
   }

   &__descr {
      text-align: center;
      margin-bottom: 40px;
      @media (max-width: 575.98px) {
         margin-bottom: 20px;
         font-size: 18px;
      }
   }

   &__dropdowns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-bottom: 30px;
      @media (max-width: 768.98px) {
         grid-template-columns: 1fr;
      }
      @media (max-width: 575.98px) {
         grid-gap: 12px;
         margin-bottom: 20px;
      }
   }

   &__info {
      padding: 50px;
      border-radius: 30px;
      position: relative;
      overflow: hidden;
      color: $white;
      font-weight: 300;
      @media (max-width: 575.98px) {
         padding: 25px 20px 20px 20px;
      }
   }

   &__info-content {
      position: relative;
      z-index: 20;
   }

   &__info-title {
      margin-bottom: 20px;
      @media (max-width: 575.98px) {
         margin-bottom: 15px;
         max-width: 240px;
      }
   }

   &__list {
      margin-bottom: 25px;
   }

   &__list-item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      &:not(:last-child) {
         margin-bottom: 17px;
      }
   }

   &__list-check {
      flex: none;
      margin-top: 1px;
      @media (max-width: 575.98px) {
         margin-top: unset;
      }
   }

   &__btn {
      max-width: 280px;
   }

   &__info-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__info-circles {
      position: absolute;
      width: 89px;
      height: 148px;
      right: 35px;
      bottom: 40px;
      @media (max-width: 575.98px) {
         width: 74px;
         height: 113px;
         right: 7px;
         bottom: 11px;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__aside-bg-circle {
   }
}
.hover-dropdown {
   position: relative;

   &:nth-child(1) {
      .hover-dropdown__head {
         border-radius: 30px 0 0 0;
      }
   }
   &:nth-child(2) {
      .hover-dropdown__head {
         border-radius: 0px 30px 0 0;
      }
   }
   &:nth-last-child(1) {
      .hover-dropdown__head {
         border-radius: 0 0 30px 0;
      }
   }
   &:nth-last-child(2) {
      .hover-dropdown__head {
         border-radius: 0 0 0 30px;
      }
   }
   @media (max-width: 768.98px) {
      .hover-dropdown__head {
         border-radius: 30px !important;
      }
   }

   &:hover {
      .hover-dropdown__body {
         display: block;
      }
      .hover-dropdown__icon {
         transform: rotate(90deg);
      }
      &:nth-last-child(1) {
         .hover-dropdown__head {
            border-radius: unset;
         }
         .hover-dropdown__body {
            border-radius: 0 0 30px 0;
         }
      }
      &:nth-last-child(2) {
         .hover-dropdown__head {
            border-radius: unset;
         }
         .hover-dropdown__body {
            border-radius: 0 0 0 30px;
         }
      }
      @media (max-width: 768.98px) {
         .hover-dropdown__head {
            border-radius: 30px 30px 0 0 !important;
         }
         .hover-dropdown__body {
            border-radius: 0 0 30px 30px !important;
         }
      }
   }

   &__head {
      padding: 20px 40px 20px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      color: $blue;
      background: #f7f9ff;
      @media (max-width: 575.98px) {
         padding-right: 20px;
      }
   }

   &__icon {
      font-size: 15px;
      transform: rotate(-90deg);
   }

   &__body {
      display: none;
      background: #f7f9ff;
      padding: 15px 20px 20px 20px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 20;
      &::before {
         content: "";
         height: 1px;
         position: absolute;
         top: 0;
         left: 20px;
         right: 20px;
         background: rgba(0, 0, 0, 0.1);
      }
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}

.what-to-do {
   display: flex;
   background: #f5f5f5;
   overflow: hidden;
   &__aside {
      position: relative;
      width: 30%;
      @media (max-width: 1199.98px) {
         display: none;
      }
   }

   &__aside-bg-circle {
      width: 345px;
      height: 345px;
      border-radius: 50%;
      border: 9px solid rgba(45, 100, 244, 0.2);
      position: absolute;
      top: -161px;
      left: -118px;
   }

   &__aside-bg-small-circles {
      position: absolute;
      right: 45%;
      bottom: 30px;
   }

   &__aside-title {
      height: max-content;
   }

   &__main {
      width: 70%;
      // padding-right: calc((100vw - 1140px) / 2);
      padding-left: 80px;
      padding-top: 180px;
      padding-bottom: 170px;
      position: relative;
      border-radius: 0px 0px 0px 80px;
      overflow: hidden;
      @media (max-width: 1199.98px) {
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
      }
      @media (max-width: 575.98px) {
         padding-top: 45px;
         padding-bottom: 40px;
         border-radius: 0px 0px 0px 60px;
      }
   }

   &__content {
      position: relative;
      z-index: 20;
      max-width: 885px;
      padding-right: 15px;
      @media (max-width: 1199.98px) {
         max-width: unset;
         margin-right: unset;
      }
   }

   &__title {
      color: $white;
      margin-left: 23px;
      position: relative;
      margin-bottom: 50px;
      @media (max-width: 575.98px) {
         margin-bottom: 15px;
      }
      span {
         font-weight: 700;
         font-size: 44px;
         @media (max-width: 575.98px) {
            font-size: 25px;
         }
      }
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 100%;
         border: 4px solid $white;
         width: 17px;
         height: 17px;
         border-radius: 50%;
         @media (max-width: 575.98px) {
            width: 14px;
            height: 14px;
         }
      }
   }

   &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      @media (max-width: 767.98px) {
         grid-template-columns: 1fr;
      }
   }

   &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
.card-what-to-do {
   margin-top: 40px;
   background: #ffffff;
   box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
   border-radius: 30px;
   position: relative;
   padding: 0 18px 30px;
   text-align: center;
   @media (max-width: 767.98px) {
      padding: 0 50px 20px;
   }
   &__img {
      width: 80px;
      height: 80px;
      background: $pink;
      border-radius: 50%;
      margin-bottom: 26px;
      margin: -40px auto 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
         margin-bottom: 15px;
      }
   }

   &__circles {
      width: 32px;
      height: 40px;
      position: absolute;
      top: 20px;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__circles-left {
      left: 20px;
      @media (max-width: 767.98px) {
         left: 50px;
      }
   }

   &__circles-right {
      right: 20px;
      @media (max-width: 767.98px) {
         right: 50px;
      }
   }

   &__title {
      font-weight: 700;
      margin-bottom: 18px;
      @media (max-width: 575.98px) {
         font-size: 18px;
      }
   }

   &__descr {
      line-height: 23px;
   }

   &__link {
      color: $blue;
      text-decoration-line: underline;
   }

   &__bg-bottom {
      position: absolute;
      transform: translateX(-50%);
      bottom: 0;
      left: 50%;
      @media (max-width: 767.98px) {
         display: none;
      }
   }
}
