$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-right: "\e900";
$icon-calendar: "\e901";
$icon-check: "\e902";
$icon-close: "\e903";
$icon-facebook: "\e904";
$icon-inst: "\e905";
$icon-linkedin: "\e906";
$icon-phone: "\e907";
$icon-plus: "\e908";
$icon-telegram: "\e909";
$icon-triangle-left: "\e90a";
$icon-twitter: "\e90b";
$icon-viber: "\e90c";
$icon-whatsapp: "\e90d";

